:root {


    font-size: 16px;
    font-weight: 400;
    /* font-family: sans-serif; */

    /* TODO: font-family!!! there is not font on Figma */
}

body {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    max-width: 1440px;
    max-height: 4349px;
    
}

.header-home-page-container {
    background-image: url("/src/public/images/places-to-visit-in-bulgaria.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    border: 1px solid black;
    width: 1400px;
    height: 772px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.header-home-page-container-content {
    width: 1400px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar-container ul {
    width: 1020px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.navbar-container a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.navbar-container ul {
    margin: 0;
    padding: 0;
}

.login-register-container-content {
    max-width: 196px;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

.login-register-container {
    width: 196px;
    
}

.login-register-container span:nth-child(2) {
    border: none;
    color: white;
    background-color: black;
    border-radius: 40px;
    width: 103px;
    height: 45px;
    font-size: 16px;
}

.login-register-container span {
    border: none;
    color: white;
    border-radius: 40px;
    width: 81px;
    height: 45px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-sirma-academy {
    width: 175px;
    height: 175px;
}

.discover-bulgaria-container {
    color: white;
    width: 608px;
    height: 309px;
}

.discover-bulgaria-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover-bulgaria-content-head {
    text-align: center;
}

.discover-bulgaria-content-head div {
    font-size: 66px;
    margin-bottom: 24px;
}

.discover-bulgaria-content-head p {
    color: white;
    font-size: 16px;
    font-weight: 50;
    margin-top: 0;
    margin-bottom: 85px;
}

.discover-bulgaria-content button {
    border-radius: 40px;
    color: white;
    background-color: black;
    font-size: 16px;
    width: 134px;
    height: 45px;
    border: none;
}

.header-home-page-bottom-container {
    color: white;
    margin-bottom: 40px;
}

.header-home-page-bottom-container {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    height: 63px;
}

.bottom-container-cells {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}

.bottom-container-cells span:first-child {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 18px;
}

/* exploring bulgaria section */

.exploring-bulgaria-container {
    width: 1400px;
    height: 766px;
}

.exploring-bulgaria-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.exploring-bulgaria-container-content-head {
    width: 763px;
    height: 166px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 24px;
}

.exploring-bulgaria-container-content-head span:first-child {
    width: 763px;
    height: 96px;
}

.exploring-bulgaria-container-content-head p {
    width: 460px;
    height: 46px;
}


.container-images {
    width: 1338px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.background-img-1 {
    background-image: url("/src/public/images/200819101951-07-reconnect-bulgaria-highlights-nessebar.jpg");
    background-repeat: no-repeat;
    background-size: 430px 400px;
    width: 430px;
    height: 400px;
    border-radius: 16px;
}
.background-img-2 {
    background-image: url("/src/public/images/plovdiv-4.jpg");
    background-repeat: no-repeat;
    background-size: 430px 400px;
    width: 430px;
    height: 400px;
    border-radius: 16px;
}
.background-img-3 {
    background-image: url("/src/public/images/1+-+15.jpeg");
    background-repeat: no-repeat;
    background-size: 430px 400px;
    width: 430px;
    height: 400px;
    border-radius: 16px;
}

.text-size-exploring-bulgaria span:first-child {
    font-size: 28px;
    width: 100px;
    padding-left: 32px;
}
.text-size-exploring-bulgaria span:nth-child(2) {
    font-size: 18px;
    width: 100px;
    padding-left: 32px;
    padding-bottom: 40px;
}
.text-size-exploring-bulgaria {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.exploring-bulgaria-container-content-head span {
    font-size: 40px;
}

.exploring-bulgaria-container-content-head p {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}